@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	@apply mb-6;
}

p:last-child {
	@apply mb-0;
}

::-webkit-scrollbar {
	height: 5px;
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.hover-scale {
	@apply transition duration-100 hover:scale-110;
}

.container-content {
	@apply container mx-auto px-4 sm:px-12 lg:px-24 my-12 text-xl animate-fade animate-once animate-duration-300 animate-ease-in;
}
